body{
  color: #666666;
}

h1, h3{
  color: #bf9b30;
}

h1 {
  text-shadow: 1px 1px #666666;
}

a {
  color: #bf9b30;
}


/*   HEADER    */

header {
    margin: 0;
    width: 100%;
    top: 0;
}

#logo{
    float: left;
    margin-left: 60px;	
    text-transform: uppercase; 
}

.logo_styling{
   font-size: 80px;
  text-shadow: 2px 2px #666666;
}

#menu{
    font-size: 20px;
    list-style-type: none;
    letter-spacing: 3px;
    list-style:none;   
    color: white;
    font-family: "Pacifico", sans-serif;
    text-shadow: 2px 2px #666666;
}

#logo, #menu{
    line-height: 60px;
}

#menu li {
    float: right;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
	 
#menu a:hover {
    border-bottom: 5px solid #666666;
}

.circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  background: #bf9b30;
}

.active {
  border: 2px solid #666666;
}



/*    HEADER IMAGE    */

.header_image{
    height:600px;ßáå³²
    width: 100%;
    background: url("../images/header_image.png") no-repeat center center;
}



/*     HEADER TEXT    */

.home_info{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15%;
  padding-right: 5%;
}


/*    INDEX ENDING IMAGES      */

.image_links_boven{
  background-image:url('../images/linksboven.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.image_rechts_boven{
  background-image:url('../images/rechtsboven.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.image_links_onder{
  background-image:url('../images/linksonder.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.image_rechts_onder{
  background-image:url('../images/rechtsonder.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}





/*     LOCATIONS     */

.signup_styling {
  text-decoration: underline;
}

/*     LOCATION HOORN      */

.hoorn_top{
    clear: left;
    background-image:url('../images/class.jpg');
    background-size: cover;
    background-position: top;
    height: 500px;
}

.hoorn_left{
    clear: left;
    background-image:url('../images/klankschaal.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.hoorn_right{
    clear: left;
    background-image:url('../images/stenen.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.hoorn_info{
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

#map{
  height: 400px;
  margin-left: 20%;
  margin-right: 20%;
}


/*  LOCATION ALKMAAR    */

.alkmaar_top{
    clear: left;
    background-image:url('../images/alkmaar.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.alkmaar_left{
    clear: left;
    background-image:url('../images/breath.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.alkmaar_right{
    clear: left;
    background-image:url('../images/gemstones.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.alkmaar_info{
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}


/*     LOCATION ZAANDAM    */

.zaandam_top{
    clear: left;
    background-image:url('../images/yogaclass.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.zaandam_left{
    clear: left;
    background-image:url('../images/lotus.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.zaandam_right{
    clear: left;
    background-image:url('../images/buddha.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.zaandam_info{
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}



/*     SIGNUP IMAGE     */


.form-section {
    clear: left;
    background-image:url('../images/signup.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
}


/*     SIGNUP FORM     */

.signup-form {
  margin-top: 20px;
  color: #fff;
  background-color: #292828b2;
  width: 500px;
  position: absolute;
  left: 10%;
  padding: 20px 70px 20px 70px;
}

.form_title {
  text-shadow: 1px 1px white;
  padding-bottom: 20px;
}

.text-input {
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: #bf9b30;
}

.button_styling {
  margin-top: 30px;
  border-radius: 2px;
  padding: 8px 25px 8px 25px;
  text-align: center;
  font-size: 100%;
  background-color: #bf9b30;
  color: #fafafa;
  display: block;
}

.button_styling:hover {
  background-color: #fafafa;
  color: #bf9b30;
}


/*     FOOTER      */


.social-networks{
    text-align: center;
    line-height: 100px;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 30px;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 40px;
    color: #777777;
}

